/**
 *------------------------------------------------------------------------------
 *
 *  Tooltips
 *
 */

.tooltip {
    z-index: 8;

    @include state(active) {
        z-index: 9;

        // Add Invisible Box To Increase Activation/Hover Area
        // - Doesn't Need To Be Managed Through A Token

        &::after,
        .tooltip-content--menu::before {
            @include position(absolute, center);
            @include size(calc(100% + #{size(500)}));
            content: "";
            z-index: -1;
        }
    }


    /**
     *--------------------------------------------------------------------------
     *
     *  Tooltip Content Wrapper
     *
     *  Wrapper Is Used To Simplify Animation, Positioning And
     *  Visibility Of Tooltip Content
     *
     *  Tooltips Are Activated By JS To Simplify CSS Selectors:
     *  - On 'hover' By Default
     *  - On 'click' When Using "data-trigger='toggle'"
     *
     */

    &-content {
        @include transition(transform opacity);

        &--black {
            background: color('black');
            border-radius: border-radius();
            box-shadow: 0 -1px 0 color('black', 0.04) inset;
        }

        &--white {
            @include box-white();
        }


        // Import Children/Modifiers
        @import
            'menu',
            'message',
            'positions'
        ;
    }

    @include state(not-active) {
        .tooltip-content {
            opacity: 0;
            pointer-events: none;
        }
    }
}
