/**
 *------------------------------------------------------------------------------
 *
 *  Table Elements
 *
 */

.table {
    @include grid(d12);


    /**
     *--------------------------------------------------------------------------
     *
     *  Children
     *
     */

    &-header,
    &-row {
        &--black {
            background: color('black');
            color: color('white');
        }

        &--grey {
            background: color('grey');

            &-light {
                background: color('grey' 300);
            }
        }

        &--white {
            background: color('white');
        }
    }

    &-header {
        @include grid(d12);
        font-size: font-size(300);
        line-height: normal;
        padding: table(spacer header) 0;

        &--black,
        &--grey,
        &--grey-light,
        &--white {
            border-radius: border-radius();
            padding: table(spacer header);
        }

        &--large {
            padding: first(table(spacer header)) last(table(spacer row));
        }
    }

    &-row {
        @include grid(d12);
        @include transition(background);
        color: color('text');
        line-height: divide(icon(size default), font-size());
        padding: table(spacer row) 0;
        z-index: 0;

        @include state(hover) {
            z-index: 1;
        }

        &--black,
        &--grey,
        &--grey-light,
        &--white {
            border-radius: border-radius();
            margin: (size(100) / 2) 0 0 0;
            padding: first(table(spacer row)) last(table(spacer header));
        }

        &--icon {
            line-height: divide(text(icon size default), font-size());

            &-large {
                line-height: divide(text(icon size large), font-size());
            }

            &-small {
                line-height: divide(text(icon size small), font-size());
            }
        }

        &--image {
            line-height: divide(text(image size default), font-size());

            &-large {
                line-height: divide(text(image size large), font-size());
            }

            &-small {
                line-height: divide(text(image size small), font-size());
            }
        }

        &--large {
            padding: table(spacer row);
        }
    }

    &-item {
        @include float();
    }
}
