/**
 *------------------------------------------------------------------------------
 *
 *  Buttons
 *
 */

.button {
    @include cursor(pointer);
    @include float();
    @include transition(background border-color box-shadow color);
    border-radius: border-radius();
    font-weight: font-weight();
    line-height: divide(size(), font-size());
    padding: button(spacer default);


    /**
     *--------------------------------------------------------------------------
     *
     *  Modifiers
     *
     */

    &--center {
        text-align: center;
    }

    &--curved {
        border-radius: border-radius(800);
    }

    &--full {
        width: 100%;
    }

    // Icons Require Even Padding
    &--icon {
        border-radius: border-radius(900);
        padding: first(button(spacer default));
    }

    &--badge,
    &--small {
        font-size: font-size(300);
        line-height: divide(size(), font-size(300));
    }

    @each $size in 'badge' 'large' 'small' {
        &--#{$size}{
            padding: button(spacer $size);

            &.button--icon {
                padding: first(button(spacer $size));
            }
        }
    }


    /**
     *--------------------------------------------------------------------------
     *
     *  Children
     *
     */

    &--center > .icon {
        display: inline-block;
        float: unset;
        vertical-align: top;
    }


    /**
     *--------------------------------------------------------------------------
     *
     *  Import Children/Modifiers
     *
     */

    @import
        'colors',
        'grid',
        'group',
        'scroller'
    ;
}
