.frames {
    min-height: 320px;

    &--center {
        min-height: 240px;
    }
}

.frame {
    display: none;
    padding: size(600) size(500);

    @include state(active) {
        display: block;
    }
}
