[data-theme] {
    &::after {
        @include position(absolute, full);
        opacity: 0.24;
        content: "";
        z-index: -1;
    }
}

[data-theme="theme1"] {
    &::after {
        background: url('../images/themes/1.png') center center;
    }
}

[data-theme="theme2"] {
    &::after {
        background: url('../images/themes/2.png') center center;
    }
}
