.header {
    @include grid(d12);
    border-bottom: 1px solid color('grey', 0.64);
    padding: size();

    &-logo {
        @include position(absolute, center);
        height: size(500);
    }

    &-menu {
        margin: 0 0 0 (- size(100));

        &-dropdown {
            background: color('black');
            border-radius: border-radius();
            width: 160px;
        }
    }

    &-user {
        float: right;
    }
}
