.social {
    &-accounts {
        border-top: 1px solid color('grey');
        margin-top: size(600);
        padding-top: size(200);
    }

    &-account {
        @include grid(d12);
        margin: size(500) 0 0;
        padding: size(200) size(700);

        &-button {
            @include position(absolute, vertical);

            &--left {
                left: 0;
            }

            &--right {
                right: 0;
            }
        }
    }

    &-buttons {
        @include center-children();
        margin: size(500) 0 0;
    }

    &-header {
        margin: size(200) 0;
    }
}
