.dashboard {
    &-accordion {
        &-content,
        &-title {
            @include grid(d12);
            border-radius: border-radius();
        }

        &-content {
            background: color('grey');
            border-top: 1px solid color('white');
            padding: size(500);
        }

        &-title {
            background: color('grey' 300);

            &:not(:first-child) {
                margin: size(200) 0 0;
            }

            @include state(active) {
                background: color('grey');
            }
        }
    }

    &-button {
        @include uppercase();
        margin: size(600) 0 0;
    }
}
