/**
 *------------------------------------------------------------------------------
 *
 *  Normalize Form Elements
 *
 */

form {
    @include grid(d12);
    margin: 0;
    padding: 0;
}

input,
button,
select,
textarea {
    background: transparent;
    border-radius: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    &,
    &:focus,
    &:hover,
    &:active {
        outline: none;
    }
}
