/**
 *------------------------------------------------------------------------------
 *
 *  Paragraph Blocks
 *
 */

p {
    @include grid(d12);
    margin: spacer(text) 0 0;

    &:first-child {
        margin: 0;
    }
}


/**
 *------------------------------------------------------------------------------
 *
 *  Headings
 *
 */

h1, h2, h3, h4, h5 {
    @include grid(d12);
    color: color('text' 500);
    font-weight: font-weight(500);
    margin: 0;
    padding: 0;

    sub,
    sup {
        font-size: 0.64em;
    }
}

// Loop Through Font Size Keys To Set Header Font Size + Line Height
$i: last( font-size-keys() );

@each $h in h1 h2 h3 h4 h5 {
    #{$h} {
        @include font-size(font-size($i));
    }

    $i: $i - token-weight(difference);
}


/**
 *------------------------------------------------------------------------------
 *
 *  Misc.
 *
 */

a {
    @include cursor(pointer);
    color: color('text');
    outline: none;
    text-decoration: none;
}

b,
strong {
    font-weight: font-weight(600);
}

section {
    @include grid(d12);
}

sub,
sup {
    font-size: 0.8em;
}

sub {
    bottom: -0.48em;
}

sup {
    top: -0.48em;
}
