.footer {
    @include grid(d12);
    border-top: 1px solid color('grey', 0.64);
    height: (size(700) + (size(500) * 2));
    padding: size(500);

    &-links {
        @include float(right);
        margin: 0 (- size(300)) 0 0;
    }

    &-link {
        @include state(default) {
            color: color('text');
        }
    }

    &-logo {
        @include float();
        height: size(500);
        margin: size(200) 0;
    }
}
