/**
 *------------------------------------------------------------------------------
 *
 *  Page Headers
 *
 */

&-header {

    &,
    &-category,
    &-subtitle {
        @include grid(d12);
    }

    &--center {
        text-align: center;
    }

    &--title {
        padding: (spacer(vertical) * 2) 0 spacer(vertical);
    }


    /**
     *--------------------------------------------------------------------------
     *
     *  Children
     *
     */

    &-category {
        @include line-height(font-size(), top);
        @include uppercase();
        font-weight: font-weight(500);
        margin: 0 0 page-header(spacer category default) 0;

        &--small {
            font-size: font-size(300);
            margin: 0 0 page-header(spacer category small) 0;
        }
    }

    &-subtitle {
        @include font-size(font-size(500), bottom);
        color: color('text' 300);
        margin: page-header(spacer subtitle) 0 0 0;

        // Modifiers
        &--small {
            @include font-size(font-size(), bottom);
        }

        b {
            color: color('text' 500);
        }
    }

    &-title {
        &--icon {
            padding: 0 0 0 size(600);
        }

        &-icon {
            @include position(absolute, vertical);
            left: 0;
        }
    }

    &-category,
    &-subtitle,
    &-title {
        @include color-modifiers(color, join(color-keys(list), 'black' 'grey' 'white'));
    }


    /**
     *--------------------------------------------------------------------------
     *
     *  Tags/Badges
     *
     *  Creating A Seperate '.badge' Or '.tag' Module Wasn't Worth The Effort
     *  Since The Styles Are Exactly The Same As '.button--badge';
     *
     *  Use '.button--static' Modifier When Badges/Tags Are Not Links
     *
     */

    .button-group {
        &:first-child {
            margin: 0 0 page-header(spacer button-group);
        }

        &:last-child {
            margin: page-header(spacer button-group) 0 0;
        }
    }
}
